version: '3.8'

services:
  weather-api:
    build: .
    container_name: weather-api
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models # Mount models so API can pick up trained model
      - ./data:/app/data # Mount data if needed
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3001:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards
    networks:
      - monitoring
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning

  frontend:
    build: ./frontend
    container_name: weather-frontend
    ports:
      - "3000:3000"
    networks:
      - monitoring
    depends_on:
      - weather-api

networks:
  monitoring:
    driver: bridge
